{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.jpg' %}" />
    <title>Hive-Time</title>
</head>
<body>
    <header>
        {% block header %}
            {% include 'base/loggedHeader.html'   %}
        {% endblock %}
    </header>
    <div>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <main class="protected">
        <div class="sidenav">
            {% block ownerSideNav %}
                {% include 'owner/sideNav.html'   %}
            {% endblock %}
        </div>
        <div class="column">
            <form action="/company/create/" method="post">
                {% csrf_token %}
                <section>
                    <label for="name">Company Name</label>
                    <input type="text" name="name">
                </section>
                <section>
                    <label for="address1">Address Line 1</label>
                    <input type="text" name="address1">
                </section>
                <section>
                    <label for="address2">Address Line 2</label>
                    <input type="text" name="address2">
                </section>
                <section>
                    <label for="city">City</label>
                    <input type="text" name="city">
                </section>
                <section>
                    <label for="state">State</label>
                    <input type="text" name="state">
                </section>
                <section>
                    <label for="zipCode">ZipCode</label>
                    <input type="text" name="zipCode">
                </section>
                <button>Add Company</button>
            </form>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'base/footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>