{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
        <nav class="navSideNav">
            <a href="/dashboard/">Dashboard</a>
            <a href="/company/add/">Add Company</a>
            <a href="/codes/">Registration Codes</a>
            <a href="/company/departments/">Departments</a>
            <a href="/company/payRates/">Pay Rates</a>
            <a href="/managers/">Managers</a>
            <a href="/employees/">Employees</a>
        </nav>
    {% endblock menu %}
</body>
</html>