{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
    <h2>Owner / Management Links</h2>
        <nav class="navSideNav">
            <a href="/dashboard/">Dashboard</a>
            {% if user.workFor == 0 %}
                <a href="/company/add/">Add Company</a>
            {% else %}
                <a href="/company/edit/">Edit / Update Company</a>
            {% endif %}
            <a href="/company/codes/">Registration Codes</a>
            <a href="/company/departments/">Departments</a>
            <a href="/company/payRates/">Pay Rates</a>
            <a href="/company/managers/">Management Team</a>
            <a href="/company/employees/">Employees</a>
        </nav>
    {% endblock menu %}
</body>
</html>