{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.jpg' %}" />
    <title>Hive-Time</title>
</head>
<body>
    <header>
        {% block header %}
            {% include 'base/header.html'   %}
        {% endblock %}
    </header>
    <div>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <main>
        <h1>Welcome to Hive-Time</h1>
        <p>Every small business needs a way for their employee's to keep track of their time.</p>
        <p>Not every business can afford the big box applications</p>
        <p>Hive-Time helps bridge that gap.  A light weight in browser application to keep track of hours.  With access levels built in so the HR department can easily see and download records</p>
        <p>New features are in the pipeline</p>
        <p>Reach out to staff members via the chat bot in the lower right hand corner to get quotes and registration codes for the app.</p>
    </main>
    <footer>
        {% block footer %} {% include 'base/footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>